<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/data/mongo
      http://www.springframework.org/schema/data/mongo/spring-mongo.xsd
      http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!--mongo:db-factory client-uri="mongodb://localhost:27017/MymvnWebApp?maxPoolSize=50"/-->
	<mongo:db-factory dbname="CardPlusGW" />
	<mongo:mongo-client>
		<mongo:client-options connect-timeout="1000"
		max-wait-time="1500"
		socket-keep-alive="true"
		socket-timeout="1500"
		write-concern="SAFE"
		connections-per-host="10"/>
	</mongo:mongo-client>
	<mongo:mongo host="localhost" port="27017"/>
	<mongo:repositories base-package="com.cardplus.spring.repository" repository-impl-postfix="Impl"/>
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
	<context:component-scan base-package="com.cardplus"/>
	<context:annotation-config/>
</beans>